*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;
}
ul,ol{
    list-style: none;
}
.clr{
    clear: both;
}
.full-wrapper{
    width: 100%;
}
.container{
    width: 1200px;
    margin: auto;
    
}
.gar-color{
    background-image: linear-gradient(to bottom,#f38181,#fce38a);
}
/*================
common css ends 
=================*/
.mx-30{
    margin: 0 30px;
}
.mx-15{
    margin: 0 15px;
}
.mt-5{
    margin-top: 5px;
}
.mr-30{
    margin-right: 30px;
}
.mb-70{
    margin-bottom: 70px;
}
/*================
space css ends 
=================*/
@font-face{
    font-family:'mot-bold' ;
    src: url(../fonts/montserrat/Montserrat-ExtraBold.ttf);
}
@font-face{
    font-family:'mot-reg' ;
    src: url(../fonts/montserrat/Montserrat-Regular.ttf);
}
@font-face{
    font-family: 'kaushan';
    src: url(../fonts/kaushan/KaushanScript-Regular.ttf);
}
@font-face {
    font-family: 'robo';
    src: url(../fonts/robo/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'robo-lig';
    src: url(../fonts/robo/Roboto-Light.ttf);
}
/*================
fonts css ends 
=================*/
h6{
    font-size: 24px;
    font-family: 'kaushan';
    color: #333333;
    padding-top: 90px;
    text-align: center;
}
h5{
    font-size: 30px;
    font-family:'mot-bold';
    color: #333333;
    padding-top: 25px;
    position: relative;
    text-align: center;
}
h5::after {
	content: '';
	width: 60px;
	height: 3px;
	position: absolute;
	top: 90%;
	left: 570px;
	color: #f38181;
	border-bottom: 3px solid #f38181;
    padding-top: 40px;
}
/*================
head css ends 
=================*/
.manu-bg{
    height: 1000px;
    background-image: url(../images/banner-one.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.manu-bg .manu{
    height: 50px;
}
.manu-bg .manu .manu-list{
    width: 1200px;
    height: 50px;
    float: left;
}
.manu-bg .manu .manu-list a{
    color: #ffffff;
}
.manu-bg .manu .manu-list .logo{
    margin-top: 10px;
    color: #ffffff;
    float: left;
    margin-left: 15px;
    font-size: 30px;
    font-family:'mot-bold' ;
}
.manu-bg .manu .manu-list ul{
    text-align: right;
}
.manu-bg .manu .manu-list ul li{
    margin-top: 10px;
    display: inline-block;
    line-height: 50px;
    margin-left: 50px;
    text-transform: capitalize;
    font-size: 14px;
    font-family:'mot-reg' ;
}
.manu-bg .manu .manu-list ul li a{
    color: #ffffff;
    transition: all linear 0.3s;
    padding-bottom: 10px;
}
.manu-bg .manu .manu-list ul li a:hover{
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
}
.manu-bg  .manu .manu-list ul li a i{
    /* color: #ffffff; */
    font-size: 14px;
}

.manu-bg .manu .banner-text{
    width: 800px;
    height: 685px;
    margin: auto;
    text-align: center;
    padding-top: 165px;
}
.manu-bg .manu .banner-text h5{
    color: #ffffff;
    font-size: 55px;
    font-family: 'kaushan';
}
.manu-bg .manu .banner-text h3{
    color: #ffffff;
    font-size: 122px;
    font-family:'mot-bold' ;
    padding: 60px 0;
    position: relative;
    margin-bottom: 42px;
}
.manu-bg .manu .banner-text h3::after {
	content: '';
	width: 60px;
	height: 4px;
	color: #ffffff;
	position: absolute;
	top: 100%;
	left: 368px;
	border-bottom: 4px solid #ffffff;
}
.manu-bg .manu .banner-text h6 {
	display: inline-block;
	padding: 7px 30px;
	color: #ffffff;
	font-family: 'mot-bold';
	font-size: 14px;
	border: 3px solid #ffffff;
    transition: all linear 0.3s;
}
.manu-bg .manu .banner-text h6:hover{
    color: #f38181;
    border: 3px solid #f38181;
}
.manu-bg .manu .banner-text .circel{
    padding-top: 115px;
    color: #ffffff;
}
.manu-bg .manu .banner-text .circel .red{
    color: red;
    margin: 0 5px;
}
/*===================
manu and banner ends 
=====================*/
.about-bg{
    padding-bottom: 30px;
}
.about-bg .about{
    text-align: center;
    height: 750px;
}
.about-bg .about h6{
    font-size: 24px;
    font-family: 'kaushan';
    color: #333333;
    padding-top: 90px;
}
.about-bg .about h5{
    font-size: 30px;
    font-family:'mot-bold';
    color: #333333;
    padding-top: 25px;
    position: relative;
}
.about-bg .about h5::after {
	content: '';
	width: 60px;
	height: 3px;
	position: absolute;
	top: 90%;
	left: 570px;
	color: #f38181;
	border-bottom: 3px solid #f38181;
    padding-top: 40px;
}
.about-bg .about p{
    font-size: 15px;
    color: #999999;
    font-family: 'robo';
    padding: 115px;
}
.about-bg .about .about-box{
    height: 250px;

}
.about-bg .about .about-box .about-item{
    width: 380px;
    height: 250px;
    float: left;
    position: relative;
}
.about-bg .about .about-box .about-item img{
    width: 100%;
}
.about-bg .about .about-box .about-item .about-overlay{
    width: 100%;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    visibility: hidden;
}
.about-bg .about .about-box .about-item:hover .about-overlay{
    visibility: visible;
}
.about-bg .about .about-box .about-item .about-overlay img {
	width: 31px;
	height: 22px;
	font-size: 30px;
	padding: 100px 0;
    color: #ffffff;
    z-index: 99;
}
.about-bg .about .about-box .about-item .about-overlay span {
	color: #ffffff;
	font-size: 18px;
	font-family: 'mot-bold';
	display: block;
	margin-top: -96px;
    z-index: 99;
}
/*==========
 about ends
 ===========*/
.point-bg{
    background-color:#95e1d3;
}
.point-bg .point{
    height: 270px;
    background-color: #95e1d3;
}
.point-bg .point .point-item{
    width: 240px;
    height: 100%;
    float: left;
    text-align: center;
    border-right: 1px solid #ffffff;
    box-sizing: border-box;
}
.point-bg .point .point-item:first-of-type{
    border-left: 1px solid #ffffff;
}
.point-bg .point .point-item h4{
    font-size: 72px;
    color: #ffffff;
    font-family: 'mot-bold';
    padding-top: 90px;
}
.point-bg .point .point-item span{
    font-size: 14px;
    color: #ffffff;
    font-family: 'mot-reg';
    text-transform: uppercase;
}
/*===========
 point ends
============*/
.service-bg{
    background-color: #ffffff;
}
.service-bg .service{
    height: 650px;
}
.service-bg .service .service-box{
    margin-top: 80px;
    height: 320px;

}
.service-bg .service .service-box .service-item{
    width: 380px;
    height: 160px;
    background-color: #ffffff;
    float: left;
    transition: all linear 0.4s;
    box-sizing: border-box;
}
.service-bg .service .service-box .service-item:hover{
    box-shadow: 0px 1px 3px  rgba(0, 0, 0, 0.4);
}
.service-bg .service .service-box .service-item img{
    padding: 20px 0 0 35px;
}
.service-bg .service .service-box .service-item span{
    padding: 30px 0 0 25px;
    font-family: 'mot-reg';
    font-size: 14px;
    color: #333333;
}
.service-bg .service .service-box .service-item p {
	margin-top: 10px;
	font-family: 'robo';
	font-size: 15px;
	color: #999999;
	padding-left: 96px;
}
/*==============
 services ends 
 ==============*/
.design-bg{
    height: 850px;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.design-bg .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.788);
    position: absolute;
    top: 0;
}
.design-bg .overlay .design-img {
	width: 470px;
	height: 578px;
	margin: 90px auto;
	position: relative;
}
.design-bg .overlay .design-img img{
    width: 100%;

}
.design-bg .overlay .design-img .design-img2 {
	width: 200px;
	height: 436px;
	position: absolute;
	bottom: -162px;
	right: -117px;
    z-index: 60;
}
.design-bg .overlay .design-img .design-img2 img{
    width: 100%;
}
/*===========
 design ends
=============*/
.do-bg{
    color: #ffffff;
}
.do-bg .do{
    height: 900px;
}
.do-bg .do .pn{
    padding: 100px 102px;
    line-height: 20px;
    color: #999999;
    font-size: 15px;
    font-family: 'robo';
    text-align: center;
}
.do-bg .do .do-box1{
    width: 570px;
    height: 380px;
    float: left;
    margin-right: 30px;
}
.do-bg .do .do-box2{
    width: 600px;
    height: 380px;
    float: left;
}
.do-bg .do .do-box2 .icon1{
    width: 100%;
    height: 240px;
    box-sizing: border-box;
    border: 1px solid #999999;
}
.do-bg .do .do-box2 .icon1 img{
    padding:15px 15px;
}
.do-bg .do .do-box2 .icon1 span{
    font-size: 14px;
    color: #333333;
    font-family:'mot-reg' ;
    text-transform: uppercase;
}
.do-bg .do .do-box2 .icon1 i {
	float: right;
	font-size: 40px;
	width: 21px;
	height: 12px;
	color: #cccccc;
	padding: 9px 20px 9px 0;
}
.do-bg .do .do-box2 .icon1 p{
    color: #999999;
    font-family: 'robo-lig';
    border-top: 1px solid #999999;
    padding:15px 15px;
}
.do-bg .do .do-box2 .icon2{
    width: 100%;
    height: 60px;
    margin: 12px 0;
    box-sizing: border-box;
    border: 1px solid #999999;
}
.do-bg .do .do-box2 .icon2 img{
    padding:15px 15px;
}
.do-bg .do .do-box2 .icon2 span{
    font-size: 14px;
    color: #333333;
    font-family:'mot-reg' ;
    text-transform: uppercase;
}
.do-bg .do .do-box2 .icon2 i {
	float: right;
	font-size: 40px;
	width: 21px;
	height: 12px;
	color: #cccccc;
	padding: 9px 20px 9px 0;
}
.do-bg .do .do-box2 .icon3{
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    border: 1px solid #999999;
}
.do-bg .do .do-box2 .icon3 img{
    padding:15px 15px;
}
.do-bg .do .do-box2 .icon3 span{
    font-size: 14px;
    color: #333333;
    font-family:'mot-reg' ;
    text-transform: uppercase;
}
.do-bg .do .do-box2 .icon3 i {
	float: right;
	font-size: 40px;
	width: 21px;
	height: 12px;
	color: #cccccc;
	padding: 9px 20px 9px 0;
}
/*============
what do ends
==============*/
.fun-bg{
    background-color: #f8f8f8;
}
.fun-bg .fun{
    height: 150px;
    padding: 70px 0;
    position: relative;
}
.fun-bg .fun i{
    width: 12px;
    height: 21px;
    color: #cccccc;
    font-size: 24px;
    padding-left: 22px;
    float: left;
    margin-top: 64px;
}
.fun-bg .fun img{
    border: 3px solid #95e1d3;
    padding: 41px 41px;
    margin-left: 75px;
    margin-right: 62px;
    float: left;
}
.fun-bg .fun p{
    width: 723px;
    color: #999999;
    font-family: 'robo-lig';
    font-size: 24px;
    float: left;
}
.fun-bg .fun .ab {
	text-align: left;
	position: relative;
	left: 68px;
	top: 25px;
}
.fun-bg .fun .ab::before {
	content: '';
	width: 60px;
	height: 3px;
	position: absolute;
	top: 108px;
	left: 254px;
	border-bottom: 3px solid #f38181;
}
.fun-bg .fun .rt {
	width: 12px;
	height: 21px;
	color: #cccccc;
	font-size: 24px;
	padding-right: 22px;
	float: left;
	padding-bottom: 64px;
	position: absolute;
	top: 64px;
	right: 22px;
}
/*=========
fun ends
==========*/
.team-bg{
    background-color: #ffffff;
}
.team-bg .team{
    height: 1050px;
}
.team-bg .team p{
    font-size: 15px;
    color: #999999;
    font-family: 'robo';
    padding: 115px;
    text-align: center;
}
.team-bg .team .team-box{
    height: 472px;
}
.team-bg .team .team-box .team-item{
    width: 380px;
    height: 472px;
    float: left;
    position: relative;
    z-index: 1;
}
.team-bg .team .team-box .team-item .team-icon{
    width: 224px;
    height: 56px;
    background-color: #fce38a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    visibility: hidden;
}
.team-bg .team .team-box .team-item:hover .team-icon{
    visibility: visible;
}
.team-bg .team .team-box .team-item .team-icon a{
    display: inline-block;
    width: 53px;
    height: 56px;
    border-right: 1px solid #f38181;
    box-sizing: border-box;
    text-align: center;
}
.team-bg .team .team-box .team-item .team-icon a i{
    padding: 0 40%;
    line-height: 56px;
    color: #f38181;
    transition: all linear 0.3s;
}
.team-bg .team .team-box .team-item .team-icon a i:hover{
    background-color: #f38181;
    color: #ffffff;
}
.team-bg .team .team-box .team-item::after{
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom,#f38181,#fce38a);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    visibility: hidden;
    z-index: 2;
}
.team-bg .team .team-box .team-item:hover::after{
    visibility: visible;
}
.team-bg .team .team-box .team-item .team-text{
    height: 140px;
    width: 100%;
}
.team-bg .team .team-box .team-item .team-text .head{
    font-size: 14px;
    color: #333333;
    text-align: center;
    padding-top: 40px;
}
.team-bg .team .team-box .team-item .team-text .end{
    font-size: 15px;
    color: #999999;
    font-family: 'robo-lig';
    text-align: center;
    display:block;
    padding-top: 15px;
}
/*==========
 team ends 
 ===========*/
.logo-bg{
    margin-top: 70px;
    background-color: #f8f8f8;
}
.logo-bg .logo{
    height: 250px;
}
.logo-bg .logo img{
    padding: 68px 10px;
}
/*==========
 logo ends 
===========*/
.our-work-bg {
	height: 1065px;
	background-color: #ffffff;
}
.our-work-bg .our-work{
    background-color: #ffffff;

}
.our-work-bg .our-work p{
    font-size: 15px;
    color: #999999;
    font-family: 'robo';
    padding: 115px;
    text-align: center;
}
.our-work-bg .our-box1{
    width: 754px;
    height: 612px;
    background-color: #fce38a;
    float: left;
}
.our-work-bg .our-box1 .our-item {
	width: 377px;
	height: 306px;
	float: left;
    position: relative;
}
.our-work-bg .our-box1 .our-item img{
    width: 100%;   
}
.our-work-bg .our-box1 .our-item::after{
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom,#f38181,#fce38a);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    visibility: hidden;

}
.our-work-bg .our-box1 .our-item:hover::after{
    visibility: visible;
}
.our-work-bg .our-box1 .our-item .our-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    visibility: hidden;
}
.our-work-bg .our-box1 .our-item .our-icon img{
    width: 30px;
    height: 30px;
    padding:0 56px
}
.our-work-bg .our-box1 .our-item .our-icon p{
    margin-top: 8px;
    font-size: 14px;
    color: #ffffff;
    font-family: 'mot-reg';
}
.our-work-bg .our-box1 .our-item .our-icon span{
    margin-top: 20px;
    font-size: 15px;
    color: #ffffff;
    font-family: 'robo-lig';
}
.our-work-bg .our-box1 .our-item:hover .our-icon{
    visibility: visible;
}
.our-work-bg .our-box2{
    width: 754px;
    height: 612px;
    float: left;
}
.our-work-bg .our-box2 .our-item {
	width: 377px;
	height: 306px;
	float: left;
    position: relative;
}
.our-work-bg .our-box2 .our-item:first-of-type{
    height: 612px;
}
.our-work-bg .our-box2 .our-item img{
    width: 100%;
    
}
.our-work-bg .our-box2 .our-item::after{
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom,#f38181,#fce38a);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    visibility: hidden;

}
.our-work-bg .our-box2 .our-item:hover::after{
    visibility: visible;
}
.our-work-bg .our-box2 .our-item .our-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    visibility: hidden;
}
.our-work-bg .our-box2 .our-item .our-icon img{
    width: 30px;
    height: 30px;
    padding:0 56px
}
.our-work-bg .our-box2 .our-item .our-icon p{
    margin-top: 8px;
    font-size: 14px;
    color: #ffffff;
    font-family: 'mot-reg';
}
.our-work-bg .our-box2 .our-item .our-icon span{
    margin-top: 20px;
    font-size: 15px;
    color: #ffffff;
    font-family: 'robo-lig';
}
.our-work-bg .our-box2 .our-item:hover .our-icon{
    visibility: visible;
}
/*============ 
our-work ends 
==============*/
.blog-bg{
    margin-bottom: 100px;
}
.blog-bg .blog{
    height: 150px;
    padding: 70px 0;
    position: relative;
}
.blog-bg .blog i {
	width: 12px;
	height: 21px;
	color: #cccccc;
	font-size: 24px;
	padding-left: 22px;
	float: left;
	margin-top: 90px;
}
.blog-bg .blog img {
	/* padding: 41px 41px; */
	margin-left: 40px;
	margin-right: 30px;
	float: left;
}
.blog-bg .blog p {
	width: 723px;
	color: #999999;
	font-family: 'robo-lig';
	font-size: 24px;
	float: left;
	margin-top: 35px;
}
.blog-bg .blog .ab {
	text-align: left;
	position: relative;
	left: -649px;
	top: 55px;
}
.blog-bg .blog .ab::before {
	content: '';
	width: 60px;
	height: 3px;
	position: absolute;
	top: 108px;
	left: 965px;
	border-bottom: 3px solid #f38181;
}
.blog-bg .blog .rt {
	width: 12px;
	height: 21px;
	color: #cccccc;
	font-size: 24px;
	padding-right: 22px;
	float: left;
	padding-bottom: 64px;
	position: absolute;
	top: 90px;
	right: 22px;
}
 /*===========
  blog ends 
  ===========*/
.happy-bg{
    height: 850px;
    background: url(../images/banner.jpg) no-repeat center / cover;
    position: relative;
    z-index: 1;
}
.happy-bg::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: -1;
}
.happy-bg .happy{
    height: 100%;
}
.happy-bg .happy .happy-box{
    height: 390px;
    width: 100%;
    margin-top: 148px;
}
.happy-bg .happy .happy-item {
	width: 44.7%;
	height: 160px;
	float: left;
	padding-left: 40px;
	position: relative;
}
.happy-bg .happy .happy-item::after {
	content: '';
	width: 60px;
	height: 3px;
	position: absolute;
	top: 58px;
	left: 180px;
	border-bottom: 3px solid #f38181;
}
.happy-bg .happy .happy-item img{
    padding-right: 30px;

}
.happy-bg .happy .happy-item h3 {
	display: inline-block;
	position: absolute;
	top: 0;
    color: #333333;
    font-family: 'mot-reg';
    font-size: 14px;
}
.happy-bg .happy .happy-item span {
	display: block;
	position: absolute;
	top: 25px;
	left: 180px;
    font-family: 'robo-lig';
    font-size: 15px;
    color: #333333;
}
.happy-bg .happy .happy-item p {
	position: absolute;
	top: 82px;
	width: 383px;
	color: #999999;
	font-size: 15px;
	line-height: 24px;
	display: inline-block;
}